<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Edouard CHIN" />

    <title>{% block title %} Admin - {% endblock %}</title>
    {% stylesheets
      'bundles/dudekform/css/Back/entypo/css/entypo.css'
      'bundles/dudekform/css/Back/bootstrap.css'
      filter='cssrewrite' output='css/compiled/base.css'%}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %} {% endblock %}

    {% javascripts
      '@bootstrap_js'
      'bundles/dudekform/js/Back/gsap/main-gsap.js'
      'bundles/dudekform/js/Back/resizeable.js'
      output='js/compiled/base.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts_head %} {% endblock %}

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  {% block body %} {% endblock %}
  {% block javascripts_body %} {% endblock %}
</html>
