{% extends '::base.html.twig' %}
{% block title %} Login {% endblock %}
{% block stylesheets %}
  {% stylesheets
    'bundles/dudekform/css/Back/neon-theme.css'
    filter="cssrewrite" output="css/compiled/base-login.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}
{% block javascripts_head %}
  {% javascripts
    'bundles/dudekform/js/Back/jquery.validate.min.js'
    'bundles/dudekform/js/Back/neon-login.js'
    output="js/compiled/base-login.js" %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
{% block body %}
  <body class="page-body login-page login-form-fall">
    <div class="login-container">
      <div class="login-header login-caret">
        <div class="login-content">
          <a href="#" class="">
            <img src="{{ asset('bundles/dudekform/images/logo42.gif') }}" alt="" />
          </a>
          <p class="description">Ce formulaire nécessite d'être connecté pour y accéder.</p>
          <div class="login-progressbar-indicator">
            <h3></h3>
            <span></span>
          </div>
        </div>
      </div>
      <div class="login-progressbar">
        <div></div>
      </div>
      <div class="login-form">
        <div class="login-content">
          {% block loginForm %} {% endblock %}
          <div class="login-bottom-links">
            <span>Copyright</span>  - <span>Edouard CHIN</span>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
